@font-face {
  font-family: 'abolition';
  src: url('../fonts/Abolition Sharp.otf') format('otf');
}

#bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#indexlogo {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
  transition: 1s ease;
}

#indexlogo:hover {
  opacity: 0.6;
}

aside {
  padding: 50px;
  width: 300px;
  background-color: white;
}

#menulogo {
  padding-bottom: 50px;
}

.vertical-menu {
  width: 300px;
  font-family: 'abolition',sans-serif;
  font-size: 35px;
}

.vertical-menu a {
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #eaede8;
  transition: .5s ease-in-out;
}

.vertical-menu a.active {
  background-color: #11863c;
  color: white;
}

body {
  display: flex;
}

section {
  display: block;
  animation: slideMe 3s;
}

section h1{
  font-family: 'abolition',sans-serif;
  font-size: 75px;
  color: #11863c;
  padding-top: 100px;
  padding-left: 10px;
  padding-bottom: 50px;
}

section p{
  font-family: 'Futura PT',sans-serif;
  font-size: 25px;
  color: #000;
  padding-left: 10px;
  padding-right: 25px;
}

@keyframes slideMe{
  0% {
    transform: translateX(-2000px);
  }
}

@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
